WEB_URL=https://f8f8-87-117-63-22.ngrok-free.app
TELEGRAM_TOKEN=
PORT=8000
POSTGRES_USER=postgres
DB_HOST=db
POSTGRES_DB=flask
POSTGRES_PASSWORD=postgres
DB_PORT=5432
FLASK_APP=src/__init__.py
JWT_SECRET_KEY=secret
SECRET_KEY=my_uniq_secret_key
REDIS_PASSWORD=my_redis_password
REDIS_USER=my_user
REDIS_USER_PASSWORD=my_user_password
REDIS_HOST=redis_container