{% extends 'admin/master.html' %}

{% block body %}
    <h1>Статистика по рубрикам</h1>

    <!-- Стили для пагинации -->
    <style>
        /* Стиль для кнопок пагинации */
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            align-items: center;
        }
        .pagination a {
            color: #3498db;
            text-decoration: none;
            padding: 5px 8px;  /* Уменьшена ширина кнопок */
            border: 1px solid #ddd;
            margin: 0 5px;
            border-radius: 5px;
            background-color: #f4f4f4;
            font-weight: bold;
            font-size: 14px;
        }
        .pagination a:hover {
            background-color: #ddd;
        }
        .pagination .disabled {
            color: #ccc;
            cursor: not-allowed;
        }

        /* Стиль для стрелочек */
        .arrow {
            font-size: 28px;
            font-weight: bold;
            vertical-align: middle;
        }

        /* Новый стиль для надписи страницы */
        .pagination span {
            font-size: 14px;
            margin: 0 10px;
            align-self: center;
        }

        .pagination span.page-text {
            text-align: left;
            flex-grow: 1;
        }
    </style>

    <!-- Форма поиска -->
    <form method="get" action="{{ url_for('category_list.index') }}" class="mb-3 d-flex flex-wrap">
        <input type="text" name="search" class="form-control flex-grow-1 mr-2 mb-2" placeholder="Поиск по названиям" value="{{ search_query }}">
        <button type="submit" class="btn btn-primary mb-2">Поиск</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Рубрика</th>
            </tr>
        </thead>
        <tbody>
            {% for category in data %}
            <tr>
                <td>
                    <a href="{{ url_for('category_statistics.index', category_id=category.id) }}">{{ category.name }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Пагинация -->
    <nav aria-label="Навигация по страницам">
        <ul class="pagination">
            {% if pagination.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(request.endpoint, page=pagination.prev_num) }}" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Предыдущая">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page_num in pagination.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                {% if page_num %}
                    {% if page_num == pagination.page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for(request.endpoint, page=page_num) }}">{{ page_num }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for(request.endpoint, page=pagination.next_num) }}" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Следующая">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
